{% extends "base.html" %}
{% comment %} {% load tailwind_filters %} {% endcomment %}
{% block title_block %}
    {{user.user_profile.full_name}}
    (@{{user.username}})
{% endblock title_block %}

{% block body_block %}
    <h2>user</h2>
    <div class="">
        <div class="">
            {% if user.user_profile.profile_pic  %}
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"><img src="media/{{user.user_profile.profile_pic}}" alt=""></a>
            {% else %}
                 <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                                    
                 <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                 <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                 </div>
                 </a>
            {% endif %}
        </div>
        <div class="">
            <ul>
                <li>{{user.username}} &nbsp; <a href="{% url "App_Login:edit" %}" class="">Edit profile</a> </li>
                <li><h4>{{user.post.count}} posts</h4></li>
                <li><h4>{{user.follower.count}} followers</h4></li>
                <li><h4>{{user.following.count}} following</h4></li>
                <li><h4>{{user.user_profile.full_name}}</h4></li>
                <li>{{user.user_profile.description | linebreaks}}</li>
            </ul>
            
            
            
        </div>

    </div>

{% endblock body_block %}










